<header class="app-header top-bar">
    <!-- begin navbar -->
    <nav class="navbar navbar-expand-md">

        <!-- begin navbar-header -->
        <div class="navbar-header d-flex align-items-center">
            <a href="javascript:void:(0)" class="mobile-toggle"><i class="ti ti-align-right"></i></a>
            <a class="navbar-brand" href="index.html">
                <img src="assets/img/logo.png" class="img-fluid logo-desktop" alt="logo" />
                <img src="assets/img/logo-icon.png" class="img-fluid logo-mobile" alt="logo" />
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="ti ti-align-left"></i>
        </button>
        <!-- end navbar-header -->
        <!-- begin navigation -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navigation d-flex">
                <ul class="navbar-nav nav-left">
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link sidebar-toggle">
                            <i class="ti ti-align-right"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown-menu mega-menu animated fadeIn" aria-labelledby="navbarDropdown">
                            <div class="row no-gutters">
                                <div class="col-sm-2 p-20">
                                    <h4>UI Kit</h4>
                                    <ul>
                                        <li class="nav-link">
                                            <a href="ui-alerts.html">Alerts</a>
                                        </li>
                                        <li class="nav-link">
                                            <a href="ui-button.html">Buttons</a>
                                        </li>
                                        <li class="nav-link">
                                            <a href="ui-cards.html">Cards</a>
                                        </li>
                                        <li class="nav-link">
                                            <a href="ui-carousel.html">Carousel</a>
                                        </li>

                                        <li class="nav-link">
                                            <a href="ui-dropdowns.html">Dropdowns</a>
                                        </li>
                                        <li class="nav-link">
                                            <a href="ui-list-group.html">List Group</a>
                                        </li>
                                        <li class="nav-link">
                                            <a href="ui-modals.html">Modals</a>
                                        </li>
                                        <li class="nav-link">
                                            <a href="ui-progressbars.html">Progress Bars</a>
                                        </li>
                                        <li class="nav-link">
                                            <a href="ui-tabs.html">Tabs</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-2 p-20">
                                    <h4>Pages</h4>
                                    <ul>
                                        <li class="nav-link">
                                            <a href="page-account-settings.html">Account Settings</a>
                                        </li>
                                        <li class="nav-link">
                                            <a href="page-clients.html">Clients</a>
                                        </li>
                                        <li class="nav-link">
                                            <a href="page-contacts.html">Contacts</a>
                                        </li>
                                        <li class="nav-link">
                                            <a href="page-gallery.html">Gallery</a>
                                        </li>
                                        <li class="nav-link">
                                            <a href="page-pricing.html">Pricing</a>
                                        </li>
                                        <li class="nav-link">
                                            <a href="page-task-list.html">Task List</a>
                                        </li>
                                        <li class="nav-link">
                                            <a href="page-404.html">404</a>
                                        </li>
                                        <li class="nav-link">
                                            <a href="page-500.html">500</a>
                                        </li>
                                        <li class="nav-link">
                                            <a href="page-coming-soon.html">Coming Soon</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-4 p-20">
                                    <h4>Contact Us</h4>
                                    <div>
                                        <form>
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="Password1" placeholder="Enter Name">
                                            </div>
                                            <div class="form-group">
                                                <input type="email" class="form-control" id="Email1" placeholder="Enter Email">
                                            </div>
                                            <div class="form-group">
                                                <textarea class="form-control" placeholder="Message" id="Textarea1" rows="3"></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-primary text-uppercase">Submit</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="chart-wrap">
                                        <div class="p-20">
                                            <h4 class="mb-1">Page Views</h4>
                                            <p>Daily page visitors</p>
                                            <h2 class="text-primary font-xxl mt-2">80+</h2>
                                        </div>
                                        <div class="apexchart-wrapper">
                                            <div id="pageview"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    
                    <li class="nav-item full-screen d-none d-lg-block" id="btnFullscreen">
                        <a href="javascript:void(0)" class="nav-link expand">
                            <i class="icon-size-fullscreen"></i>
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav nav-right ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fe fe-bell"></i>
                            <span class="notify">
                                        <span class="blink"></span>
                            <span class="dot"></span>
                            </span>
                        </a>
                        <div class="dropdown-menu extended animated fadeIn" aria-labelledby="navbarDropdown">
                            <ul>
                                <li class="dropdown-header bg-gradient p-4 text-white text-left">Notifications
                                    <a href="#" class="float-right btn btn-square btn-inverse-light btn-xs m-0">
                                        <span class="font-13">Supprimer Tous</span></a>
                                </li>
                               
                                <li class="dropdown-footer">
                                    <a class="font-13" href="javascript:void(0)"> View All Notifications
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link search" href="javascript:void(0)">
                            <i class="ti ti-search"></i>
                        </a>
                        <div class="search-wrapper">
                            <div class="close-btn">
                                <i class="ti ti-close"></i>
                            </div>
                            <div class="search-content">
                                <form>
                                    <div class="form-group">
                                        <i class="ti ti-search magnifier"></i>
                                        <input type="text" class="form-control autocomplete" placeholder="Search Here" id="autocomplete-ajax" autofocus="autofocus">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown user-profile">
                        <a href="javascript:void(0)" class="nav-link dropdown-toggle " id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="assets/img/avtar/02.jpg" alt="avtar-img">
                            <span class="bg-success user-status"></span>
                        </a>
                        <div class="dropdown-menu animated fadeIn" aria-labelledby="navbarDropdown">
                            <div class="bg-gradient px-4 py-3">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="mr-1">
                                        <h4 class="text-white mb-0">{{this.userDetails.nom}} {{this.userDetails.prenom}}</h4>
                                        <small class="text-white">{{this.userDetails.email}}</small>
                                    </div>
                                    <a (click)="logout()" class="text-white font-20 tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Déconnexion"> <i
                                                    class="zmdi zmdi-power"></i></a>
                                </div>
                            </div>
                            <div class="p-4">
                                <a class="dropdown-item d-flex nav-link" href="profile/{{this.userDetails.id}}">
                                    <i class="fa fa-user pr-2 text-success"></i> Profile</a>
                                
                                <div class="row mt-2">
                                    <div class="col">
                                        <a class="bg-light p-3 text-center d-block" href="listcontact">
                                            <i class="fe fe-mail font-20 text-primary"></i>
                                            <span class="d-block font-13 mt-2">Messages</span>
                                        </a>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- end navigation -->
    </nav>
    <!-- end navbar -->
</header>
