
<head>
  <style>

</style>
</head>

<div class="mb-4 pb-4"></div>
<div class="mb-4 pb-4"></div>
<div class="mb-4 pb-4"></div>  


  <main>
    <div class="mb-4 pb-4"></div>
    <section class="shop-checkout container">

      <form (ngSubmit)="makePayment()">
          <button type="submit" class="btn btn-primary btn-block form-group col-md-12" (click)="makePayment()">Submit Payment</button><br><br>
          <button  class="btn btn-primary btn-block form-group col-md-12" (click)="cancel()">Annuler</button>

      </form>
    </section>
  </main>

